<figure class="game-character">
    <section id="head" class="game-character__head"></section>
    <figure  id="body" class="game-character__body">
        <section id="left-arm"  class="game-character__left-arm"></section>
        <section id="right-arm" class="game-character__right-arm"></section>
        <section id="left-leg"  class="game-character__left-leg"></section>
        <section id="right-leg" class="game-character__right-leg"></section>
    </figure>
</figure>
<!-- /.game-character -->
